<% if @issue != nil then %>
<p><%= link_to 'Form', {:controller => 'csys_poris',  :action => 'form', :id => @project.identifier, :issue_id => @issue.id, :key => User.current.api_key}, :method => :get %></p>
<% else %>
<p><%= link_to 'Form', {:controller => 'csys_poris',  :action => 'form', :id => @project.identifier, :issue_id => nil, :key => User.current.api_key}, :method => :get %></p>
<% end %>
