<h2>CosmosysController#menu</h2>
<p>Actions:</p>
<p><%= link_to 'Show Panel', { :action => 'form'}, :method => :get %></p>
<p><%= link_to 'Show Panel incl subprojects', { :action => 'form', :across_sub => "y"}, :method => :get %></p>